.cube {
    position: relative;
	
}
 
.face {
    position: absolute;
    width:50px;
    height: 50px;

}
.top {
   -moz-transform: rotate(-45deg) skew(15deg, 15deg);
	background-color:red;
	top:-38px;

}
 
.left {
   -moz-transform: rotate(15deg) skew(15deg, 15deg);
		background-color:#d6d025;
		//-moz-transform: translate(35px, 0px);
		left:-22px;
}
 
.right {
    -moz-transform: rotate(-15deg) skew(-15deg, -15deg);
		background-color:#c0483e;
		left:23px;

}
.a{
    -moz-transform: translate(50px, 100px);
}
.b{
 -moz-transform: translate(136px, 100px);
}
.c{
 -moz-transform: translate(93px, 125px);
}
.d{
 -moz-transform: translate(93px, 25px);
}
.e{
    -moz-transform: translate(136px, 50px);
}
.f{
 -moz-transform: translate(50px, 50px);
}
.blu{
background-color:#3371a7;
}