/* ______________________________________________________________ Main Elements */
.tony-mainFooter, .tony-topNav{
	background-color: #EFEFEF;
    background-image: url("chrome://browser/skin/newtab/noise.png"), -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
    border-top: 1px solid #DEDEDE;
    text-align: center;
}


.navbar .tony-brand{
padding:0px;
margin:0px;
width:20%;
text-align:center;
}
.navbar .tony-brand img{
height:35px;
position:relative;
top:3px;
}

body{

	background-color: #cdcdcds;
    background-image: url("chrome://browser/skin/newtab/noise.png"), -moz-linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2));
}

.tony-nopadding{
	padding: 0px;
}

.tony-nomargin{
	margin: 0px;
}

.tony-cLeft, .tony-cRight{

	float: left;
    min-height: 1px;
    min-width: 240px;
    margin-top: 30px;
	max-width: 640px;
	width:22%;
}

.tony-cCenter{
	width: 56%;
	float: left;
    min-width:480px;
    margin-top: 30px;
	max-width:1050px;
}

.tony-bottomNav{
	display: inline-block;
	margin: 0 auto;
	width: 60%;
	min-width: 480px;
	text-align: center;
}

.tony-footerUL{
	float: left;
	margin-right: 0%;
	width: 26%;
	padding-top: 20px;
	min-width: 240px;
	line-height: 25px;
	text-align: center;
		padding-bottom: 20px;
}
.tony-footerUL:last-child{
	width: 215px;
	min-width: 215px;
}

.tony-footerUL:last-child{
	margin-right:0px;
}

.tony-footerUL img{
	opacity: 0.2;
	float: left;
	width: 50px;
	height: 50px;
	margin-right: 7%;
}

.tony-footerUL li a{
	float: left;
	border-right: 1px solid #bcbcbc;
	width: auto;
	text-align: center;
	padding-right: 2%;
	padding-left: 2%;
}

.tony-bottomNav .tony-footerUL li:last-child a{
	padding-right: 0px;
	border-right:none;
}

.tony-bottomNav .tony-footerUL li:first-child a{
	padding-left: 0px;
}

.tony-bottomNav .tony-footerUL:last-child li:last-child a{
margin-right: 0px;
}

.tony-footerUL h3{
	font-size: 13px;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	line-height: 25px;
	text-align: left;
	padding-left: 25%;

}

/* ______________________________________________________________ Placeholder colors */

.tony-blue{
	background-color: #312de3;
}

.tony-green{
	background-color: #2de331;
}

.tony-red{
	background-color: #e32d2d;
}

.tony-yellow{
	background-color: #e3d02d;
}

/* ______________________________________________________________ the sidenav */
.tony-sidenav{
	width: 160px;

}

.sideleft{
	float: right;
		margin-right: 20%;
}

.sideright{
		margin-left: 20%;
}

.tony-sideul{
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	border: none;
}

.tony-sideul img{
	height: 80px;
	margin: 0px;
	padding: 0px;
	border: none;
}

.tony-sideul li{
	height: 80px;
	margin: 0px;
	padding: 0px;
	border: none;
}

.tony-sideul li header{
	height: 20px;
	width: 80px;
	line-height:20px;
	display: inline-block;
	margin: 0px;
	padding: 0px;
	border: none;
	vertical-align: top;
	font-weight: bold;
}
.tony-sideul li header a{
	padding-left: 8px;
}
.tony-sideul li header p{
	width: 100%;
	text-align: center;
	line-height: 60px;
	font-weight: bold;
	font-size: 24px;
	color: #c1483f;
}

.tony-sideul li header a:link, .tony-sideul li header a:visited{
	color:#c1483f;
}

/* ______________________________________________________________ the cube */
.tony-cube, .tony-map{

height:230px;
	text-align:center;

}

.tony-cube{
padding-top:20px;
height:210px;
}


/* ______________________________________________________________ cHeader */

#mainHeader {
    height: 200px;
    margin-bottom: 30px;
    width: 100%;
}

#mainHeader .avatar {
    border: 1px solid #DEDEDE;
    height: 185px;
    width: 185px;
}

.fleft {
    float: left;
}

#ear {
    background-image: url("../img/ear.png");
    float: left;
    height: 9px;
    left: -197px;
    position: relative;
    top: 151px;
    width: 10px;
}

#scores {
    float: left;
    height: 160px;
    width: 60%;
}

#mainlogo {
    width: 300px;
}

#quickNav {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.85);
    clear: both;
    color: #FFFFFF;
    height: 40px;
    left: -10px;
    padding-left: 10px;
    position: relative;
    top: -27px;
    width: 100%;
}

#nameL {
    background-color: black;
    display: inline-block;
    font-weight: bold;
    line-height: 40px;
    text-align: center;
    width: 186px;
}


/* ______________________________________________________________ cArticles */

.tony-cArticle{
    background-color: #2B60A2;
	/*background-color: white;*/
    border: 1px solid #666DA1;
    float: left;
    height: 197px;
    margin-bottom: 10px;
    margin-right: 10px;
    width: 196px;
	
	font-size: 12px;
    font-style: normal;
    letter-spacing: 0;
    line-height: 17px;
	padding-left:2px;
	padding-top:1px;
}


.tony-cArticle header{
    color: #F0F0F0;
    display: inline;
    float: left;
    width: 137px;
	padding-left:10px;
	height:48px;
	}
	
.tony-cArtTitle, .tony-cArtParagraph{
	margin:0px;
	padding:0px;
	border:none;
    line-height: 20px;
}

.tony-cArtTitle{
font-weight:bold;
font-size: 14px;
line-height: 24px;
}
	
.tony-cArticle img{
    float: left;
    margin-right: 1px;
    margin-bottom: 1px;
    width: 48px;
	height: 48px;
	}
	

img.upCont {
    height: 128px;
    width: 193px;
	border: 1px solid #aaaaaa;
}

.tony-cArtFooter{
	margin:0px;
	padding:0px;
	border:none;
line-height:14px;
font-size:10px;
height:14px;

    float: left;
	width:195px;
	text-align:left;
	color:#eeeeee;
}

.tony-toRight{
float:right;
}

.tony-icon{
margin:0px;
}

.tony-icon-whiteLike{
width:14px;
height:12px;
background-image: url("../img/likeWhite.png");

 background-repeat: no-repeat;
    display: inline-block;
}


.tony-cArticle .tony-Ext{
padding:0px;
	width: 197px;
}

.tony-cArticle .inLeft {
    float: left;
    height: 147px;
    width: 49px;
}


.tony-cArticle img.tony-opt{
 height: 146px;
 width:146px;
 margin:0px;
}