/* CSS Document */
body {
background-color:#f0f0f0;
width:100%;
height:100%;
margin:0px;
padding:0px;
border:0px;
font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
text-align:center;
vertical-align:top;
font-size: 12px;
line-height: 20px;
color:#0C2951;
letter-spacing: 0;
text-indent:0;
word-spacing:0;
}
#container{
width:100%;
height:100%;
background-color:white;
}

#mainFrame{
margin: 0 auto;
width: 800px;
height:500px;
}

header{
margin:0px;
padding:0px;
border:0px;

font-size: 36px;
}
.classic{
padding-bottom:50px;
}

.classic header{
padding-top:20px;
padding-bottom:15px;
font-size:18px;
}

.classic p{
font-size:14px;
text-align:justify;
}

header.getInvH {
padding-top:40px;
padding-bottom:10px;
display:inline;
float:left;
width:220px;
}

header.getInvH h2{
font-size: 25px;
font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;

}

header.getInvH p{
font-size: 12px;
text-align:justify;
}

header img{
vertical-align:middle;
}

article{
width:100%;

}

article.step{
width: 220px;
padding-right:46px;
float:left;
text-align: justify;
height:250px;
}

.step  header{
text-align: center;
font-size: 14px;
padding-top: 50px;
padding-bottom: 5px;
height:53px;
line-height:53px;
}



.stepButton{
background-color: #2E628A;
background-image: -moz-linear-gradient(center top, #438EC6, #2E628A);
border: 1px solid #3079ed;
color: #ffffff;
text-shadow: 0 1px rgba(0,0,0,0.1);
padding-left:25px;
padding-right:25px;
padding-top:10px;
padding-bottom:10px;

font-size:20px;
}

.stepButton:hover{
background-color: red;
background-image: -moz-linear-gradient(center top, #4EA8E5, #3D7EAF);

}

.Flabel{
display:inline;
float:left;
width:100px;
text-align:right;
padding-right:10px;
}

.Flabel, .Finput{
margin-bottom:7px;

}

footer{
margin-top:50px;
padding-top:20px;
background-color:#f0f0f0;
border-top: 1px solid #dddddd;
}

div.stepPCT{
width:56px;
height:53px;
background-image:url(stepIcon.jpg);
float:left;
color: #ffffff;
text-shadow: 0 1px rgba(0,0,0,0.1);
}

#getinv{
text-align:left;
width:300px;
margin-left:250px;
font-size:14px;
padding-bottom:100px;
}

#downInv{
background-color: #438EC6;
background-image: -moz-linear-gradient(center top, #4d90fe, #4797ed);
border: 1px solid #3079ed;
color: #ffffff;
text-shadow: 0 1px rgba(0,0,0,0.1);
padding-left:10px;
padding-right:10px;
padding-top:4px;
padding-bottom:4px;

font-size:14px;
float:right;
margin-right:3px;
margin-top:10px;
}