body{
font-family:  "Source Sans Pro", "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif;
}


hr.smooth {
    background-image: -moz-linear-gradient(left center , transparent, rgba(0, 0, 0, 0.1), transparent);
    border: 0 none;
    height: 1px;

}

.tony-txtcentral{
    text-align: center;
}

.tony-mainHeaderCont:after, .pageHeader:after {
    background: url("../img/pattern2.png") repeat scroll center center transparent;
	  bottom: 0;
    content: "";
    display: block;
    left: 0;
    opacity: 0.1;
    position: absolute;
    right: 0;
    top: 0;

}

.pageHeader{

    padding-top: 80px;
    padding-bottom: 40px;
    text-align: center;
    color:#f0f0f0;
    z-index: 2;
}

.tony-mainHeaderCont, .pageHeader{
  text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
  background: #140e40; /* Old browsers */
  background: -moz-linear-gradient(45deg,  #140e40 0%, #26688e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,#140e40), color-stop(100%,#26688e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  #140e40 0%,#26688e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  #140e40 0%,#26688e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  #140e40 0%,#26688e 100%); /* IE10+ */
  background: linear-gradient(45deg,  #140e40 0%,#26688e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#140e40', endColorstr='#26688e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
  -webkit-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
     -moz-box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);
          box-shadow: inset 0 3px 7px rgba(0,0,0,.2), inset 0 -3px 7px rgba(0,0,0,.2);

position: relative;

}


.tony-btn-header{
font-size:30px;
padding-left:30px;
padding-right:30px;
line-height:40px;
}

.mainFooter{
text-align:center;

}
.tony-mainHeader{
text-align:center;
padding-top:90px;
padding-bottom:40px;
margin-bottom:20px;
font-size:40px;
line-height:60px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
      position: relative;
    z-index: 2;
    color:#f0f0f0;
}

.topM30{
margin-top:30px;
}
.topM60{
margin-top:60px;
}
.bottomM90{
margin-bottom:90px;
}
.bottomM60{
margin-bottom:60px;
}
.bottomM30{
margin-bottom:30px;
}
 .hidden{
visibility:hidden;
}



#sidebarwarp{

    position: relative;
}

#sidebar{
position: absolute;
}
#sidebar.fixed {
    position: fixed;
    top: 0px;
    margin-top: 40px;
}





/* Sidenav for Docs
-------------------------------------------------- */

.bs-docs-sidenav {
  width: 228px;
  margin: 30px 0 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 6px;
     -moz-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065);
     -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065);
          box-shadow: 0 1px 4px rgba(0,0,0,.065);
}
.bs-docs-sidenav > li > a {
  display: block;
  *width: 190px;
  margin: 0 0 -1px;
  padding: 8px 14px;
  border: 1px solid #e5e5e5;
}
.bs-docs-sidenav > li:first-child > a {
  -webkit-border-radius: 6px 6px 0 0;
     -moz-border-radius: 6px 6px 0 0;
          border-radius: 6px 6px 0 0;
}
.bs-docs-sidenav > li:last-child > a {
  -webkit-border-radius: 0 0 6px 6px;
     -moz-border-radius: 0 0 6px 6px;
          border-radius: 0 0 6px 6px;
}
.bs-docs-sidenav > .active > a {
  position: relative;
  z-index: 2;
  padding: 9px 15px;
  border: 0;
  text-shadow: 0 1px 0 rgba(0,0,0,.15);
  -webkit-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
     -moz-box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
          box-shadow: inset 1px 0 0 rgba(0,0,0,.1), inset -1px 0 0 rgba(0,0,0,.1);
}
/* Chevrons */
.bs-docs-sidenav .icon-chevron-right {
  float: right;
  margin-top: 2px;
  margin-right: -6px;
  opacity: .25;
}
.bs-docs-sidenav > li > a:hover {
  background-color: #f5f5f5;
}
.bs-docs-sidenav a:hover .icon-chevron-right {
  opacity: .5;
}
.bs-docs-sidenav .active .icon-chevron-right,
.bs-docs-sidenav .active a:hover .icon-chevron-right {
  background-image: url(../img/glyphicons-halflings-white.png);
  opacity: 1;
}
.bs-docs-sidenav.affix {
  top: 40px;
}
.bs-docs-sidenav.affix-bottom {
  position: absolute;
  top: auto;
  bottom: 270px;
}

